/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/* mine */
body { 
  background: url(https://freight.cargo.site/t/original/i/63caa0aec23ec2f20c9dbd11700503c9c7dc8a3c21cda5784bb20951f6b4c20e/0302.jpg) no-repeat center center fixed; 
  background-size: cover;
}
#box{
  position: absolute;
  left: 39%;
  top: 10%;
  width: 300px;
  height: 400px;
  background-color: #416e83;
  
}


label{
  display: block;
  color: red;
}
#Lnameinput{
  margin-top: 20px;
  width: 175px;
  height: 25px;
}
#Lpasswordinput{
  margin-top: 50px;
  width: 175px;
  height: 25px;
}
#login, #register {
  text-align: center;
}
#loginbtn{
  margin-top: 60px;
  width: 120px;
  height: 30px;
  border: 2px #07612d solid;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}
#loginbtn:hover{
  background-color:#07612d;
  border-radius: 100px;
}


#registerbtn{
  margin-top: 80px;
  width: 130px;
  height: 30px;
  border: 2px #418356 solid;
  border-radius: 10px;
  cursor: pointer;
  font-size: bold;
}
#registerbtn:hover{
  background-color:#07612d;
  border-radius: 120px;
}

#plogin, #pwelcome{
  margin-top: 20px;
  font-size: 35px;
  font-weight: bold;
}
#registernow{
  text-decoration: underline;
  color: black;
  margin-top: 50px;
  cursor: pointer;
}

#register{
margin-top: 20px;
}
#Rsurnameinput{
  margin-top: 20px;
}
#Remailinput, #Rpasswordinput, #Rnameinput, #Rlastnameinput, #Rageinput,#registerbtn{
  margin-top: 20px;
}


#welcome{
  margin-top: 100px;
}

#Rsurnamelabel, #Rlastnamelabel, #Rnamelabel, #Rpasswordlabel, #Remaillabel{
  height: 1px;
}

#registersvg{
  width: 30px;
  transform: rotate(180deg);
  position: absolute;
  top: 35px;
  left: 2px;
}

#loginsvg{
  width: 50px;
  margin-top: 25px;
}

#pregister {
  font-size: 35px;
  font-weight: bold;

}


#auth{
  margin-top: 110px;
}



